-- Update one row based on the fech
------------------------------------------------------------
-- Stored procedure generated by CodeTrigger
-- This script was generated on 22/03/2017 10:50:32 
------------------------------------------------------------
CREATE PROCEDURE [dbo].[usp_U_acfACFp_Activo_Fijo_Depreciacion]
  @dtACFfincorporacion datetime OUTPUT  
, @sACFfechanotaingreso datetime OUTPUT
AS
-- updates a row in the table based on the fech

UPDATE [dbo].[acfACFp_Activo_Fijo]
SET
[ACFdepacutrib] = ([ACFdepacutrib] + [ACFvalortrib] *[ACFfactortrib])/12
WHERE 
[ACFfincorporacion] = @dtACFfincorporacion;

UPDATE [dbo].[acfACFp_Activo_Fijo]
SET
[ACFdepacuniif] =([ACFdepacuniif] + [ACFvalorniif] *[ACFfactorniif])/12
WHERE 
[ACFfincorporacion] = @sACFfechanotaingreso;


-- select [ACFfincorporacion], [ACFdepacutrib], [ACFdepacuniif], [ACFvalortrib], [ACFfactortrib], [ACFvalorniif], [ACFfactorniif] from
-- [dbo].[acfACFp_Activo_Fijo]
-- 
-- exec [usp_U_acfACFp_Activo_Fijo_Depreciacion]  '2001-01-01', '';




